// SIZE
$content-max-width: 1600px;
$form-width: 350px;
$form-height: 337px;
$form-extra-input-height: 56px;
$form-bg-blur: 10px;
$form-border-rd: 12px;
$form-transition-duration: 0.3s;

// COLOR
$white: #fff;
$black: #000;
$black-opacity-50: rgba(0, 0, 0, 0.5);
$form-border-color: #747474;
$button-disabled-bg: rgba(22, 119, 255, 0.5);
$button-disabled-color: rgb(138, 138, 138);

// DISTANCE
$form-offsets: 700px;
